<h1>Characters</h1>
<h3>Number of Characters in <%= params[:nation].titleize %>: <%= @characters.count %></h3>

<% @characters.first(25).each_with_index do |character, index| %>
  <div id="character-<%= index %>">
  <h2><%= character.name %></h2>
  <% if !character.image.nil?%>
    <%= image_tag(character.image) %>
  <% end %>
  <p>Allies:</p>
  <% character.allies.each do |ally| %>
    <ul>
      <li><%= ally %></li>
    </ul>
  <% end %>
  <p>Enemies:</p>
  <% character.enemies.each do |enemy| %>
    <ul>
      <li><%= enemy %></li>
    </ul>
  <% end %>
  <p>Affiliation:
  <%= character.affiliation %></p>
  </div>
  <br>
<% end %>